<!-- Example DataTables Card-->
<div class="row  mb-md">
  <div class="col-md-12">
    <b>Patient Registration!</b>
    <button type="button" class="btn btn-primary pull-right" (click)="cancel()">Go To Patient List</button>
  </div>
</div>
<div class="row  mb-md">
  <div class="col-md-12">
    <div class="container mb-lg">
      <form [formGroup]="patientForm" (ngSubmit)="savePatient()">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="name"><span class="required">* </span> First Name : </label>
              <input type="text" formControlName="firstName" class="form-control" (keypress)="keyPressChar($event)">
            </div>
            <p class="help-block" *ngIf="!patientForm.get('firstName').valid && patientForm.get('firstName').touched">Please enter first name.</p>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="name">Middle Name: </label>
              <input type="text" formControlName="middleName" class="form-control" (keypress)="keyPressChar($event)">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="name"><span class="required">* </span>Last Name : </label>
              <input type="text" formControlName="lastName" class="form-control" (keypress)="keyPressChar($event)">
            </div>
            <p class="help-block" *ngIf="!patientForm.get('lastName').valid && patientForm.get('lastName').touched">Please enter last name.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="mt-md">
            <label for="grnder"><span class="required">* </span>Gender : </label>
            <label class="radio-inline">
              <input type="radio" name="gender" class="input-mg" value="male" id="male" formControlName="gender" />Male
            </label>
            <label class="radio-inline">
              <input type="radio" name="gender" class="input-mg" value="female" id="female" formControlName="gender" />Female
            </label>
            <p class="help-block" *ngIf="!patientForm.get('gender').valid && patientForm.get('gender').touched">Gender is required</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="dob">Date Of Birth: </label>
              <date-picker ngModel name="date" formControlName="dob"></date-picker>
            </div>
            <p class="help-block" *ngIf="!patientForm.get('dob').valid && patientForm.get('dob').touched">Please enter date of birth.</p>
          </div>
        </div>
        <div class="row" formGroupName="contact">
          <div class="col-md-4">
            <div class="form-group">
              <label for="mobile"><span class="required">* </span>Mobile : </label>
              <input type="text" name="mobile" class="form-control" formControlName="mobile" (keypress)="keyPress($event)" minlength=10 maxlength=10/>
              <p class="help-block" *ngIf="!patientForm.get('contact.mobile').valid && patientForm.get('contact.mobile').touched">Mobile Number is required</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="email">Email : </label>
              <input type="email" name="email" class="form-control" formControlName="email" />
            </div>
          </div>
        </div>
        <div formGroupName="address">

          <div class="row">
            <div class="col-md-4">
              <label>Address : </label>
              <input type="text" class="form-control" formControlName="address">
            </div>
            <div class="col-md-4">
              <label>City : </label>
              <input type="text" class="form-control" formControlName="city" (keypress)="keyPressChar($event)">
            </div>
            <div class="col-md-4">
              <label>State : </label>
              <input type="text" class="form-control" formControlName="state" (keypress)="keyPressChar($event)">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <label>Country : </label>
              <input type="text" class="form-control" formControlName="country" (keypress)="keyPressChar($event)">
            </div>
            <div class="col-md-4">
              <label>Zip:</label>
              <input type="text" class="form-control" formControlName="zip"  (keypress)="keyPress($event)" minlength=6 maxlength=6>
            </div>
          </div>
        </div>
        <div class="row mt-md">
          <div class="col-md-12">
            <div class="form-group">
              <button class="btn btn-primary" type="Submit">Submit</button>
              <button class="btn btn-default" (click)="cancel()"> Cancel </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>