<div class="card mb-3 card-height">
  <div class="card-header">
    <i class="fa fa-table"></i>
    <b *ngIf="isAddPage">Create</b>
    <b> Appointment</b>
  </div>
  <div class="card-body">

    <div class="row  mb-lg" *ngIf="isAddPage">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
              <label for="">Patient First Name</label>
            <label class="form-control">{{patientDetails.firstName}}</label>
          </div>
          <div class="col-md-4">
              <label for="">Patient Last Name</label>
            <label class="form-control"> {{patientDetails.lastName}}</label>
          </div>
          <div class="col-md-4">
              <label for="">Patient Mobile Number</label>
            <label class="form-control">{{patientDetails?.contact?.mobile}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-md">
              <label for=""><span class="required">* </span>Status</label>
            <select class="form-control" [(ngModel)]="appointmentModel.status">
              <option *ngFor="let title of statusList" [value]="title.id">{{title.name}}</option>
            </select>
          </div>
          <div class="col-md-3 mb-md" *ngIf="appointmentModel.status === 'completed'">
              <label for="">Amount Paid(INR)</label>
              <input type="number" class="form-control" [(ngModel)]="appointmentModel.amountPaid" placeholder="Amount paid by patient">
          </div>
          <div class="col-md-5 mb-md">
            <label for=""><span class="required">* </span>Date And Time</label>
            <date-picker mode="datetime" [(ngModel)]="appointmentModel.dateTime"></date-picker>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-md">
            <button class="btn btn-primary" (click)="bookAppointment()"> Save/Update Appointment</button>
            <button class="btn btn-default" (click)="cancel()"> Cancel </button>
          </div>
        </div>

      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Patient Id</th>
            <th>Patient Name</th>
            <th>Mobile No.</th>
            <th>Appointment Data Time</th>
            <th>Amount Paid</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let apt of appointmentList; let i = index">
            <td>{{apt.patientId}}</td>
            <td>{{apt.patientName}}</td>
            <td>{{apt.patientMobile}}</td>
            <td>{{apt?.dateTime | date:'medium'}}</td>
            <td>{{apt.amountPaid || '-'}}</td>
            <td>{{apt.status | uppercase}}</td>
            <td>
                <button class="btn btn-sm btn-primary" (click)="editAppointment(apt)"> Edit</button>
            </td>
          </tr>
          <tr *ngIf="appointmentList.lenght == 0">
              <td> No Data Found. </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>