/* You can add global styles to this file, and also import other style files */
@import "./app/style/vendor/bootstrap/css/bootstrap.min.css";
@import "./app/style/sb-admin.min.css";
@import "./app/style/vendor/font-awesome/css/font-awesome.min.css";
@import "./app/style/vendor/datatables/dataTables.bootstrap4.css";

body, html {
    /* The image used */
    background-image: url("assets/images/medical2.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mt-sm {
    margin-top: 5px;
}
.mb-sm {
    margin-bottom: 5px;
}

.mt-md {
    margin-top: 10px;
}
.mb-md {
    margin-bottom: 10px;
}

.mt-lg {
    margin-top: 15px;
}
.mb-lg {
    margin-bottom: 15px;
}